.container {
  width: 50%;
  margin: 0 auto;
}

.flexBlock {
  display: flex;
  margin-bottom: 20px;
}

.box {
  width: 50%;
  height: 500px;
  padding: 20px;
  border: 1px solid black;
}

.box:nth-child(1) {
  margin-right: 20px;
}

input {
  width: 70%;
}

button {
  width: 30%;
  margin-left: 15px;
}